<div class="mycontainer">
  <div class="mycartbox" *ngIf="!loading">
    <div class="cartheader">
      <div class="firstheader">
      <h2>Shopping Cart</h2>
      <p>You have <span class="nbrItems">{{cartProducts.length}}</span>
      in your Cart</p>
      </div>

      <button class="ClearCart" (click)="clearAllItems()">Clear Your Shopping Cart</button>
    </div>
    <table>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of cartProducts;let index=index">
        <td>
          <div class="firstColone">
          <div class="image">
          <img src="{{item.item.image}}">
          </div>
          <div class="Producttitle">
            <h3>{{item.item.title}}</h3>
          </div>
          </div>
        </td>
        <td>{{item.item.price}} $</td>
        <td>
          <div class="quantityStuff">
          <button class="plusandminux" (click)="item.quantity=item.quantity+1;updateCart()">+</button>
          <input type="number" value="1" class="inputNumber" [(ngModel)]="item.quantity" min="0"
                 (change)="updateCart()" >
          <button class="plusandminux" (click)="item.quantity=item.quantity-1;updateCart()">-</button>
          </div>
        </td>
        <td>{{item.item.price * item.quantity | number:'.2-2'}} $</td>
        <td><button class="delete" (click)="deletItem(index)">Delete</button></td>
      </tr>
    </table>
    <hr>
    <div class="totalbox">
      <strong class="total">Total :</strong>
      <span class="totalPrice"> {{getTotalprice() | number:'.2-2'}} $</span>
      <button class="order" (click)="order()">Order Now</button>
    </div>
    <div class="orderdone" *ngIf="isordered">
      Your Order is done successfully !
    </div>
  </div>
  <div class="spinner" *ngIf="loading">
  <app-spinner ></app-spinner>
  </div>
  </div>
