
.select-box {
  margin: 30px 20px;
}
select {
  margin-left: 10px;
  border: none;
  padding: 5px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
select:focus{
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
;
}
label {
  font-size: 20px;
}
